body{ /*styling for body*/
    background-color: #9FCDFF;
	text-align: center;
	font-family: Tahoma, Verdana;
}

select{
	border-radius: 4px;
	background-color: #e6e6e6;
	font-family: Verdana;
	height: 22px;
}

.mapouter{ /*styling for map*/ 
	border-radius: 6px;
	margin: auto;
	overflow: hidden;
	height: 720px;
	width: 480px;
}

.gmap_canvas { /*styling for map*/ 
	margin: auto;
	background: none !important;
	height: 720px;
	width: 480px;
}

.image{
	border-radius: 6px;
	float: center;
}


.float-div { /*STYLING FOR BUTTON ON DUTCH PAGE*/
    text-align: left; 
    color: purple;
    font-family: Arial Black;
    background-color: #fff;
    float: left;
    width: 22%;
    height: 30px;
    margin: 0px;
    border: double;
}

.radioButtons { /*styling for temporary radio buttons*/
	font-size: 16px;
	text-align: left;
	margin-left: 400px;
}


textarea{ /*styling for textarea*/
border-radius: 6px;
	width: 480px;
	height: 80px;
	background-color: #e6e6e6;
	resize: none;
}

button { /*styling for Comment button and homepage buttons*/
	border-radius: 4px;
	width: 100px;
	height: 30px;
	background-color: #433b8f;
	border: none;
	color: #fff;
	font-family: Verdana;
	font-weight: 400;
	cursor: pointer;
	margin-bottom: 60px;
}

.comment-box{ /*styling for comment box*/
	margin: auto;
	width: 455px;
	padding: 15px;
	margin-bottom: 6px;
	background-color: #e6e6e6;
	border-radius: 6px;
	position: relative;
}
.comment-box p{ /*styling for the paragraph element for the comment box*/
	text-align: left;
	font-family: Verdana;
	font-size: 14px;
	line-height: 16px;
	color: #433b8f;
	font-weight: 100;
	
}
.edit-form{ /*styling edit button location on the homepage*/
	position: absolute;
	top: 0px;
	right: 0px;
}
.edit-form button { /*styling for Comment button on the editcomment.php file*/
	margin: auto;
	width: 40px;
	height: 20px;
	color: #282828;
	background-color: #fff;
	opacity: 0.7;
}
.edit-form button:hover { /*styling for hovering on edit button on homepage*/
	opacity: 1;
}
.delete-form{ /*styling for delete button location on homepage*/
	position: absolute;
	top: 0px;
	right: 60px;
}
.delete-form button { /*styling for delete button*/
	margin: auto;
	width: 60px;
	height: 20px;
	color: #282828;
	background-color: #fff;
	opacity: 0.7;
}
.delete-form button:hover { /*styling for hovering on delete button on homepage*/
	opacity: 1;
}	


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #433b8f;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFF;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav2 {
    height: 100%;
    width: 0;
    top: 0; 
    left: 200px;
	z-index: 1;
	float: right;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;

}

.sidenav2 a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav2 a:hover {
    color: #f1f1f1;
}

.sidenav2 .closebtn2 {
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-right: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media screen and (max-height: 450px) {
  .sidenav2 {padding-top: 15px;}
  .sidenav2 a {font-size: 18px;}

.settings {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #433B8F;
    float: left;
    display: block;
}


@media only screen and (max-width: 1024px)
{

body {
		margin: 0;
		padding: 0;
		}
			
h3, p, {
		padding-left: 2em;
		padding-right: 2em;
		}
}

@media only screen and (max-width: 768px)
{

h3 {
		font-size: .95em;
		padding-top: .35em;
		margin: auto;
		width: 85%;
		}

}
