body {
    background-color: #9FCDFF;
		text-align: center;
		font-family: Tahoma, Verdana;
}

.float-div {
    text-align: center; 
    color: purple;
    font-family:Arial Black;
    background-color: ;
    float:left; 
    width: 22%;
    height: 30px;
    margin: 0px;
    border: double;
}